
data/output/Articulos.csv
data/output/Conferencias Tecnicas.csv
data/output/Consultoria.csv
data/output/Cursos.csv
data/output/OtrasActividades.csv
data/output/Proyectos.csv
data/.DS_Store
.DS_Store
